<html xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <h2>Реестр пользователей</h2>
        </div>
        <div class="row">
            <table class="highlight">
                <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Дата рождения</th>
                    <th>ИНН</th>
                    <th>Статус запроса</th>
                    <th>Тип пользователя / email</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="user : ${users}">
                    <!--<td><a href="/user/${user.id}"><span th:text="${user.email}"></span></a></td>-->
                    <td>
                        <p th:text="${user.surname}"></p>
                        <p th:text="${user.firstname}"></p>
                        <p th:text="${user.patronymic}"></p>
                    </td>
                    <td>
                        <p th:text="${user.birthdate}"></p>
                    </td>
                    <td>
                        <p th:text="${user.tin} != 0 ? ${user.tin} : ${'ИНН не доступен'}"></p>
                    </td>
                    <td>
                        <p th:text="${user.status} == 60 ? ${'Запрос не отправлен'} + ' ' + '(' + ${user.status} + ')' : ''"></p>
                        <p th:text="${user.status} == 61 ? ${'Запрос отправлен'}  + ' ' + '(' + ${user.status} + ')' : ''"></p>
                        <p th:text="${user.status} == 62 ? ${'Запрос отправлен'}  + ' ' + '(' + ${user.status} + ')' : ''"></p>
                        <p th:text="${user.status} == 1 ? ${'Информация не найдена'}  + ' ' + '(' + ${user.status} + ')' : ''"></p>
                        <p th:text="${user.status} == 52 ? ${'Ответ не готов'}  + ' ' + '(' + ${user.status} + ')' : ''"></p>
                        <p th:text="${user.status} == 83 ? ${'Некорректный запрос'}  + ' ' + '(' + ${user.status} + ')' : ''"></p>
                        <p th:text="${user.status} == 99 ? ${'Системная ошибка'}  + ' ' + '(' + ${user.status} + ')' : ''"></p>
                        <a th:href="@{'/users/request/{id}' (id=${user.id})}" class="send">Отправить запрос</a>
                    </td>
                    <td>
                        <p th:text="${user.role}"></p>
                        <p th:text="${user.email}"></p>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- Modal buttons -->
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large waves-effect waves  light red" href="users/add"><i
                        class="material-icons">add</i></a>
            </div>
        </div>
    </div>
</div>
</html>