<html xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<div layout:fragment="content">
    <div class="section white">
        <div class="row container rowmain valign-wrapper">
            <table>
                <thead>
                <tr>
                    <th>E-mail</th>
                    <th>Role</th>
                </tr>
                </thead>
                <tbody>
                <h2>Реестр пользователей</h2>
                    <tr>
                        <!--<td><a href="/user/${user.id}"><span th:text="${user.email}"></span></a></td>-->
                        <td><span th:text="${user.surname}"></span></td>
                        <td><span th:text="${user.firstname}"></span></td>
                        <td><span th:text="${user.patronymic}"></span></td>
                        <td><span th:text="${user.role}"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>